* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-icon-star::before,
.container-icon-star::after {
    content: "";
    height: 5px;
    width: 80px;
    border: 1px solid white;
    background-color: white;
    margin: 0 20px;
}

.portfolio-section 
.container-icon-star::before,
.portfolio-section 
.container-icon-star::after {
    content: "";
    height: 5px;
    width: 80px;
    border: 1px solid black;
    background-color: black;
    margin: 0 20px;
}

.my-rounded {
    border-radius: 1em;
}

.social-container